In [2]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt

print("successfully imported")

successfully imported

In [3]:
df = pd.read_excel('data/exp1.xlsx')
d2 = pd.read_excel('data/exp2.xlsx')

In [4]:
df.head()

,lab_result_id,result_last_modified_datetime,result_status,units,value_as_real,test_lab_code,lab_department,lab_provider
0,618503588,2022-09-14 12:53:16+01,FINAL,mmol/l,7.50,tO2,NaN,ABL90_FLEX_PLUS
1,618503587,2022-09-14 12:53:16+01,FINAL,kPa,3.95,p50(act),NaN,ABL90_FLEX_PLUS
2,618503586,2022-09-14 12:53:16+01,FINAL,%,39.00,Hct,NaN,ABL90_FLEX_PLUS
3,618503585,2022-09-14 12:53:16+01,FINAL,mmol/l,24.80,SBC,NaN,ABL90_FLEX_PLUS
4,618503584,2022-09-14 12:53:16+01,FINAL,mmol/l,2.20,cBase(Ecf),NaN,ABL90_FLEX_PLUS

In [6]:
df.test_lab_code.unique()

array(['tO2', 'p50(act)', 'Hct', 'SBC', 'cBase(Ecf)', 'FIO2', 'MetHb',
       'COHb', 'sO2', 'O2Hb', 'HHb', 'tHb', 'Lac', 'Glu', 'Cl-', 'Ca++',
       'Na+', 'K+', 'pO2', 'pCO2', 'pH', 'Crea', 'Urea', 'pO2(T)',
       'cBase(B)', 'pCO2(T)', 'pH(T)', 'T', 'HbF', 'Liter flow'],
      dtype=object)

In [21]:
ndf = df[df.test_lab_code=="tO2"]
ndf.shape

(4105, 8)

In [22]:
ndf.lab_result_id.unique().shape

(4105,)

In [ ]:
Variables interested are :-
    
    demographics : age, gender, ethnicity, 
    anthrpomorphics : height, weight

Ventilator variables :- 
    
    1. on room air 
    2. on conventional oxygen therapy (venturi,non rebreathe)
    3. on HfNC
    4. on NIV 
    5. on IMV


Other variables :- 
    1. RR 
    2. HR
    3. BP
    4. Temp
    5. SpO2

In [14]:
df.shape

(91537, 8)

In [5]:
d2.head()

                  display_name  visit_observation_type_id     n
0             Arterial Line BP                  415351386    38
1          Type of Wound (LDA)                   94937473     4
2  Adult High Range Vt 10mL/kg                   57914795   174
3     SOFA Score (Do Not Edit)                  412862904  3070
4        Calculated Vt 6mL/kg                    57914789   174

In [10]:
d2.sort_values(by="n",ascending = False)

                     display_name  visit_observation_type_id     n
41                    LACE+ Score                  412814696  9982
95    Total Workload Acuity Score                  412864061  8620
66                          Pulse                   47444830  3724
128                          SpO2                   47444811  3638
17                           Resp                   47444850  3498
..                            ...                        ...   ...
45          Date of symptom onset                  151343485     1
9                     Base excess                  415361839     1
130                           pH                   415361837     1
5    Static Compliance (L/cm H2O)                   57999106     1
144           Respiratory Pattern                   57913916     1

[154 rows x 3 columns]